@import '~nav-frontend-core/less/_variabler';

.kalkulator {
    &__ingress-med-hjelpetekst {
        margin-top: 1rem;
        display: flex;
    }

    &__fraværsperioder {
        display: flex;
        flex-direction: column;
        margin: 1rem 0 2rem;
    }

    &__fraværsperioder__tittel {
        margin-bottom: 1rem;
    }

    &__legg-til-knapp {
        margin-top: 2rem;
    }
}
