@import '~nav-frontend-core/less/_variabler';

.kalkulator {
  &__fraværsperioder {

    &__ingress {
      margin-top: 1rem;
    }



    &__fraværsperioder {
      display: flex;
      flex-direction: column;
      margin: 1rem 0 2rem;
    }
  }
}