@import '~nav-frontend-core/less/_variabler';

.kalkulator {
    &__draggable-periode {
        position: relative;
        height: 1.5rem;
        background-color: @navBla;
        border-radius: 8px 8px 0 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        z-index: 2;

        .høyre {
            position: absolute;
            right: 0;
            top: 8px;
        }

        .venstre {
            position: absolute;
            left: 0;
            top: 8px;
        }

        .venstre-dato {
            position: absolute;
            left: -2rem;
            top: 3.5rem;
        }

        .høyre-dato {
            position: absolute;
            right: -2rem;
            top: 3.5rem;
        }
    }

    &__draggable-kant {
        height: 2.5rem;
        width: 3px;
        border-radius: 20px;
        background-color: @navBla;
    }

    &__tidslinje-container {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 6rem;
        margin-top: 6rem;
    }

    &__tidslinje-datoer {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__tidslinje-fargeperioder {
        width: 100%;
        height: 1rem;
        display: flex;
        position: absolute;
    }

    &__tidslinje-underlag {
        width: 100%;
        display: flex;
        height: 1rem;
        border-radius: 3px;
        position: absolute;
        top: 1.5rem;
        background-color: @navLysGra;

        &__tidslinjeobjekt {
            height: 100%;
        }

        .dagens-dato {
            position: relative;
        }

        .tidslinje-dagens-dato-markør {
            position: absolute;
            bottom: 3px;
            width: 0.5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 20;
            text-align: center;
        }

        .tidslinje-dagens-dato-strek {
            border-radius: 8px;
            width: 2px;
            height: 3rem;
            background-color: goldenrod;
        }

        .tidslinje-dagens-dato-sirkel {
            border-radius: 27px;
            border-color: transparent;
            width: 0.75rem;
            height: 0.75rem;
            background-color: goldenrod;
            position: absolute;
            bottom: -1px;
        }

        .tidslinje-dagens-dato-markør-tekst {
            position: absolute;
            top: -3rem;
            left: -2rem;
        }

        .tidslinje-farge-forklaring {
            width: 10rem;
        }
    }

    &__tidslinje-farge-forklaring {
        margin-bottom: 2rem;
        width: 10rem;
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .annet-fravær {
            height: 1rem;
            width: 1rem;
            background-color: #e3b0ab;
        }

        .permittert {
            background-color: #5eaec7;
            height: 1rem;
            width: 1rem;
        }
    }

    &__tidslinje-farge-forklaring-container {
        display: flex;
        justify-content: space-between;
    }
}
