@import '~nav-frontend-core/less/_variabler';

.permitteringsperioder {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid @navGra20;
    margin-top: 2rem;
    padding-bottom: 3rem;

    &__feilmelding {
        margin-top: 0.5rem;
        color: @redErrorDarken20;
    }

    &__infotekst {
        margin-top: 1.5rem;
    }
}
