.kalkulator-bakgrunn {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #e6e6e6;
}

.kalkulator-container {
  margin: 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  width:40rem;
  height: 100vh;
  border-radius: 3px;
  padding: 3rem;
}

.kalkulator {

  &__datovelgere {
    display: flex;
    margin: 1rem 0 1rem
  }

}

