@import '~nav-frontend-core/less/_variabler';

.kalkulator-bakgrunn {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #e6e6e6;
}

.kalkulator-container {

}

.kalkulator {
  display: flex;
  padding: 3rem 0 3rem;
  width: 60rem;
  max-width: 90%;

  &__utfyllingskolonne {
    display: flex;
    flex-direction: column;
    background-color: white;
    width:64%;
    border-radius: 3px;
    padding: 3rem;
    margin-right: 1rem;
  }

  &__permitteringsobjekter {
    display:flex;
    flex-direction: column;
  }

  &__datovelgere {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0 1rem
  }

  &__legg-til-knapp {
    width: 20rem;
  }

  &__utregningskolonne {
    width: 30%;
    position: relative;
  }

}

@media (max-width: @screen-sm-min) {
  .kalkulator {
    width: 90%;
  }

}