html {
    scroll-behavior: smooth;
}

.permittering {
    background-color: #e6e6e6;

    &__container {
        display: flex;
        justify-content: center;
    }

    &__wrapper {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1200px;
    }

    &__oversikt {
        border-radius: 3px;
        padding: 2.5rem 1.25rem 1.25rem 1.5rem;
        background-color: white;
        width: 20.3rem;
    }

    &__oversikt-mobil {
        margin-bottom: 1rem;
    }

    &__info-ark {
        padding: 2rem 2.5rem 1rem 2.5rem;
        background-color: white;
        max-width: 35rem;
        border-radius: 3px;
    }

    &__info-ark-overskrift {
        padding-bottom: 1.5rem;
    }

    &__underOverskirft {
        padding-bottom: 0.75rem;
    }

    &__blockmodifier {
        padding-bottom: 1rem;
        padding-top: 1rem;

        &:first-child {
            padding-top: 0;
        }
    }

    &__knapp-seksjon {
        margin: 2rem 0 2rem 2rem;

        .knapp {
            text-transform: none;
            width: 30%;
        }
    }

    &__info-lenke {
        padding: 1em 1rem 0 0;

        &--bold {
            .lenke {
                .typo-ingress {
                    font-weight: 600;
                }
            }
        }

        .lenke {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            .typo-ingress {
                white-space: nowrap;

                &:last-child,
                &:first-child {
                    white-space: initial;
                }
            }
        }
    }

    @media (min-width: 768px) {
        &__wrapper {
            flex-direction: row;
        }

        &__oversikt {
            padding: 2.5rem 0.5rem 1.25rem 0.5rem;
            margin: 1rem 2.5rem 0 2rem;
            max-height: 16rem;
            position: sticky;
            top: 3rem;
        }

        &__info-ark {
            padding: 2rem 1.5rem 1rem 1.5rem;
            background-color: white;

            margin: 1rem 1rem 2rem 0;
            min-height: 25rem;
        }
    }

    @media (min-width: 1024px) {
        &__wrapper {
            margin-right: 5rem;
        }

        &__oversikt {
            padding: 2.5rem 1.25rem 1.25rem 1.5rem;
            margin: 1rem 5rem 0 2rem;
        }

        &__info-ark {
            padding: 2rem 2.5rem 1rem 2.5rem;
            margin: 1rem 1rem 2rem 0;
        }
    }
}
