@import '~nav-frontend-core/less/_variabler';

.utregningskolonne {
    border-radius: 3px;
    margin: 1rem;

    &__forklaring {
        text-align: left;
    }

    &__enkelperiode {
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid @navGra20;
        padding: 0.5rem;
    }

    &__enkelperiode-utregning {
        text-align: right;
        width: 3rem;
        margin-bottom: 1rem;
    }

    &__ledd {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__svar {
        text-decoration: underline overline;
    }
}
