.utregningskolonne {

  &__forklaring {
    text-align: left;
  }

  &__enkelperiode {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  &__enkelperiode-utregning {
    text-align: right;
    width: 3rem;
  }

  &__ledd {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__svar {
    text-decoration: underline overline;
    margin-bottom: 1rem;
  }

}