@import 'node_modules/nav-frontend-core/less/_variabler';

.fraværsperioder {
    margin: 1rem 0 2rem;

    &__tittel {
        margin-bottom: 1rem;
    }

    &__legg-til-knapp {
        margin-top: 2rem;
    }

    &__infotekst-liste {
        margin-top: 0.5rem;
    }

    &__feilmelding {
        margin-top: 0.5rem;
        color: @redErrorDarken20;
    }
}
